<div style="width: 100%; height: 27px; background-color: rgb(234,235,237)">导航</div>
<a href="Home/View1" class="">view1</a>
<div class="Nav">
    <ul class="navmain">   
        <li class="list"><a  onclick="addTab('NavigationDetail_TabText','NavigationDetail_URL','NavigationDetail_TabImg')" href="javascript:;">
        <img src="nav.NavigationDetail_Img" />NavigationDetail_TabText</a></li> 
    </ul>
</div>