<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
   <script src="Scripts/jquery.min.js"></script>
    <script src="Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="Scripts/jquery.easyui.min.js"></script>
    <script src="Scripts/BSScript.js"></script>
    <link href="Scripts/BS.css" rel="stylesheet" />
	<link href="Scripts/wu.css" rel="stylesheet" />
    <link href="Scripts/themes/icon.css" rel="stylesheet" />
    <link href="Scripts/NavDetail.css" rel="stylesheet" />
    <script src="Scripts/knockout-2.1.0.js"></script>
    <link rel="stylesheet" type="text/css" href="Scripts/themes/metro/easyui.css">
    <title>UserManage</title>
</head>
<body>
    <div class="easyui-layout" data-options="fit:true">
        <div data-options="region:'north'" style="height:80px">

            <div style="margin:10px 0;"></div>
            <div>
                用户名：
                <input class="easyui-validatebox textbox" data-options="required:true,validType:'length[3,10]'">
                出生日期：
                <input id="dd" type="text" class="easyui-datebox" required="required">
                用户名：
                <input id="Text1" type="text" required="required">
                出生日期：
                <input id="dd" type="text" class="easyui-datebox" required="required">
                <input id="Button1" type="button" value="查询" />
            </div>
            <div style="margin:5px 0;"></div>
            <div>
                <div class="easyui-panel" style="padding:3px;">
                    <a href="#" class="easyui-linkbutton" data-options="plain:true">首页</a>
                    <a href="#" class="easyui-splitbutton" data-options="menu:'#mm1',iconCls:'icon-edit'">操作</a>
                    <a href="#" class="easyui-splitbutton" data-options="menu:'#mm2',iconCls:'icon-ok'">提交审批</a>
                    <a href="#" class="easyui-menubutton" data-options="menu:'#mm3',iconCls:'icon-help'">Help</a>

                </div>
                <div id="mm1" style="width:150px;">
                    <div data-options="iconCls:'icon-undo'" onclick="$('#w').window('open')">添加用户</div>
                    <div data-options="iconCls:'icon-redo'">删除用户</div>
                    <div class="menu-sep"></div>
                    <div>复制</div>
                    <div>撤销</div>
                    <div class="menu-sep"></div>
                    <div>
                        <span>联查</span>
                        <div>
                            <div>用户详情</div>
                            <div>部门信息</div>
                            <div>工资信息</div>
                            <div>差旅费</div>
                            <div class="menu-sep"></div>
                            <div>New Toolbar...</div>

                        </div>

                    </div>
                    <div data-options="iconCls:'icon-remove'">全部删除</div>
                    <div>全选</div>

                </div>
                <div id="mm2" style="width:100px;">
                    <div data-options="iconCls:'icon-ok'">Ok</div>
                    <div data-options="iconCls:'icon-cancel'">Cancel</div>

                </div>
                <div id="mm3" style="width:150px;">
                    <div>Help</div>
                    <div>Update</div>
                    <div>
                        <span>About</span>
                        <div class="menu-content" style="padding:10px;text-align:left">
                            <img src="http://www.jeasyui.com/images/logo1.png" style="width:150px;height:50px">
                            <p style="font-size:14px;color:#444">Try jQuery EasyUI to build your modern, interactive, javascript applications.</p>

                        </div>

                    </div>

                </div>
            </div>

        </div>
        <div data-options="region:'center'">

            <table id="dg" class="easyui-datagrid" title="用户详情"
                   data-options="rownumbers:true,fit:true,singleSelect:true,pagination:true,url:'data/usermanageData',method:'get'">
                <thead>
                    <tr>
                        <th data-options="field:'UserGUID',checkbox:true"></th>
                        <th data-options="field:'UserName',width:80">用户名</th>
                        <th data-options="field:'UserNumber',width:100">工号</th>
                        <th data-options="field:'UserBirthDay',width:80,align:'right'">出生日期</th>
                        <th data-options="field:'UserPhone',width:180,align:'right'">电话号码</th>
                        <th data-options="field:'UserMail',width:220">邮箱</th>
                        <th data-options="field:'status',width:60,align:'center'">Status</th>
                    </tr>
                </thead>
            </table>
            
        </div>
    </div>
    <div style="padding-top:10px">

    </div>
    <div id="w" class="easyui-window" title="Modal Window" data-options="modal:true,closed:true,iconCls:'icon-save',href:'/SystemManage/UserCreate'" style="width:740px;height:600px;padding:10px;">
        The window content.
    </div>
    <script type="text/javascript">
        function changeP() {
            var dg = $('#dg');
            dg.datagrid('loadData', []);
            dg.datagrid({ pagePosition: $('#p-pos').val() });
            dg.datagrid('getPager').pagination({
                layout: ['list', 'sep', 'first', 'prev', 'sep', $('#p-style').val(), 'sep', 'next', 'last', 'sep', 'refresh']
            });
        }
    </script>
</body>
</html>
